[submodule "backend"]
	path = backend
	url = https://github.com/skku-amang/backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/skku-amang/frontend.git
	branch = main
