[submodule "Homepage-BackEnd"]
	path = Homepage-BackEnd
	url = https://github.com/skku-amang/Homepage-BackEnd.git
[submodule "Homepage-FrontEnd"]
	path = Homepage-FrontEnd
	url = https://github.com/skku-amang/Homepage-FrontEnd.git
